// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

// Import all of Bootstrap's CSS

$primary: #F27405;
$info: #03A6A6;
$font-family: 'DM Sans';
$btn-text-color: #ffffff;
$btn-border-radius: 4rem;

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.cdnfonts.com/css/dm-sans');

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .8rem;
$success: #7952b3;

//
// Custom styles
//

body {
  font-family: 'DM Sans';
}

.btn-primary {
  color: $btn-text-color;
}

.btn-secondary {
  color:#333;
  border-color: $primary;
  background-color: #fff;
  font-weight: 400
}


@import "icon-list";
